<div class="container">
  <h1>About Me</h1>
  <p>Hello! My name is Erik Ferri and I like:</p>
  <ul>
      <li>Playing piano and ukulele</li>
      <li>Star Wars</li>
      <li>Zelda</li>
      <li>Pokémon</li>
      <li>The Elder Scrolls</li>
      <li>The Simpsons</li>
      <li>Spider-Man</li>
      <li>Seinfeld</li>
      <li>Hey Arnold!</li>
      <li>Dire Straits</li>
      <li>Anri</li>
      <li>Nature</li>
      <li>Traveling</li>
      <li>Ovaltine</li>
  </ul>
  <a routerLinks="2-truths-and-a-lie.html">See my 2 truths and a lie</a>
</div>